beautifulsoup4
Django
PyMySQL
requests
# Scrapy
selenium
numpy
djangorestframework
uWSGI
django-cors-headers
djangorestframework_simplejwt
django-filter
pyyaml
xlsxwriter
sqlalchemy
loguru
msedge-selenium-tools
drf_yasg
celery
django-celery-results
flower
pika
django-redis
django-anymail
itsdangerous==1.1.0
python-dateutil
pandas
matplotlib
yfinance
pandas_datareader
html5lib